
body {
    background-color: #FFEEF5;
}

.css-selector {
  font-family: 'Amiko';
}

h1 {
    color: #B96017;
    font-family: 'Amiko';
    font-size: 70px;
}


.css-selector {
  font-family: 'Cutive Mono';
}

p1 {
    
    font-family: 'Cutive Mono';
    font-size: 30px;
    
}

a {
    color: hotpink;
    text-decoration: none;
}

article {
    font-family: 'Cutive Mono';
    font-size: 30px;
    margin-left: 170px;
    padding: 1em;
    overflow: hidden;
}


