
body {
    background-color: #FFEEF5;
}

.css-selector {
  font-family: 'Cedarville Cursive';
}

h1 {
    color: #B96017;
    font-family: 'Cedarville Cursive';
    font-size: 100px;
    line-height: 1.2em;
}

.css-selector {
  font-family: 'Baloo Tamma';
}

h1 {
    font-family: 'Baloo Tamma';
    font-size: 70px;
    line-height: 1.2em;
}

.css-selector {
  font-family: 'Cutive Mono';
}

p1 {
    
    font-family: 'Cutive Mono';
    font-size: 30px;
    
}

a {
    color: hotpink;
    text-decoration: none;
}


