
body {
    background-color: #FFEEF5;
}

.css-selector {
  font-family: 'Cedarville Cursive';
}

h1 {
    color: #B96017;
    font-family: 'Cedarville Cursive';
    font-size: 150px;
}


.css-selector {
  font-family: 'Cutive Mono';
}

p1 {
    
    font-family: 'Cutive Mono';
    font-size: 30px;
    
}

a {
    color: hotpink;
    text-decoration: none;
}


